// Main SCSS File

// Vendors
@import 'vendors/normalize';

// Utils
@import 'utils/functions';
@import 'utils/variables';
@import 'utils/mixins';

// Base
@import 'base/fonts';
@import 'base/typography';

// Layout
@import 'layout/layout';

// Components
@import 'components/button';
@import 'components/navigation';
@import 'components/mapbox';
@import 'components/form';
@import 'components/predictive-box';
@import 'components/table';
@import 'components/panel';
@import 'components/atlas-notifications';
@import 'components/modal';

// Pages
@import 'pages/atlas';
@import 'pages/admin';