<header class="atlas-header">
  <h1 class="main-title">
    <a href="/" title="Go to map">
      <img src="/images/rapworldmap.svg" class="main-logo" width="350" height="66" alt="Rap World Map" />
    </a>
  </h1>
</header>


<div id="app" class="app-container"></div>

<div id="loader" class="loader active">
  <div class="loader__spin"></div>
</div>

<script src='/js/atlas.bundle.js'></script>