<% include ../../shared/atlas-header.ejs %>

<div id="app" class="app-container" data-mapboxtoken="<%= mapboxToken %>"></div>

<div id="loader" class="loader active">
  <div class="loader__spin"></div>
</div>

<script src='/js/atlas.bundle.js'></script>