

<div class="admin-content">

  <% if (errors.length > 0) { %>
    <div class="errors">
      <p>Something goes wrong: </p>
      <ul>
        <% for (error of errors) { %>
          <li class="error">
            <p><%= error %> </p>
          </li>
        <% } %>
      </ul>
    </div>
  <% } %>

  <!-- ARTIST CREATION FORM -->
  <div id="app"></div>

  <script src="/js/bundle.js"></script>
</div>