
<h1>Create an artists</h1>

<% if (errors.length > 0) { %>
  <div class="errors">
    <p>Something goes wrong: </p>
    <% for (error of errors) { %>
        <%= error %> <br>
    <% } %>
  </div>
<% } %>

<!-- ARTIST CREATION FORM -->
<form action="/artists/create" method="post">
    <div id="inputNameField" class="field">
      <h3>About</h3>
      <label for="inputName">Name:</label>
      <input id="inputName" type="text" name="name">
    </div>
    <div>
      <h3>Location</h3>
      <div>
        <label for="inputCity">City:</label>
        <input id="inputCity" type="text" name="city">
      </div>
      <div>
        <label for="inputNeighborhoodName">Neighborhood Name:</label>
        <input id="inputNeighborhoodName" type="text" name="neighborhoodName">
      </div>
      <div>
        <label for="coordinates">Coordinates:</label>
        <input id="coordinates" type="text" name="coordinates">
      </div>
    </div>
    <div>
      <h3>Categories:</h3>
      <label for="producer">Producer</label>
      <input type="checkbox" id="producer" name="categories" value="producer">
      <label for="rapper">Rapper</label>
      <input type="checkbox" id="rapper" name="categories" value="rapper">
      <label for="singer">Singer</label>
      <input type="checkbox" id="singer" name="categories" value="singer">
    </div>
    <div>
      <h3>Images</h3>
      <label for="thumbnailUrl">Thumbnail Url:</label>
      <input id="thumbnailUrl" type="text" name="thumbnailUrl">
    </div>
    <div>
      <h3>Bio</h3>
      <div>
        <label for="inputSummary">Summary:</label>
        <textarea id="inputSummary" name="summary">
        </textarea>
      </div>
      <div>
        <label for="inputWikipediaUrl">Wikipedia Url:</label>
        <input id="inputWikipediaUrl" type="string" name="wikipediaUrl">
      </div>
      <div>
        <label for="inputBirthDate">Birthdate:</label>
        <input id="inputBirthDate" type="date" name="birthdate">
      </div>
      <div>
        <label for="inputDeathDate">Deathdate:</label>
        <input id="inputDeathDate" type="date" name="deathdate">
      </div>
    </div>
    <div>
      <h3>Youtube</h3>
      <div>
        <label for="inputYoutubePageUrl">Page Url:</label>
        <input id="inputYoutubePageUrl" type="string" name="youtugePageUrl">
      </div>
      <div>
        <label for="inputClipExampleUrl">Clip Example Url:</label>
        <input id="inputClipExampleUrl" type="string" name="clipExampleUrl">
      </div>
    </div>

    <button type="submit">Create</button>
</form>

<!-- Handlebars template -->
<script id="handlebarsPredictiveItemTemplate" type="text/x-handlebars-template">
  <a href="" class="predictive-box__item">{{name}} / {{city}} / {{}}</a>
</script>

<script type="text/javascript" src="/js/artistsCreate.js"></script>