

<div class="admin-content">

  <% if (errors.length > 0) { %>
    <div class="errors">
      <p>Something goes wrong: </p>
      <ul>
        <% for (error of errors) { %>
          <li class="error">
            <p><%= error %> </p>
          </li>
        <% } %>
      </ul>
    </div>
  <% } %>

  <a href="/artists" class="link--back-to">&larr; Back to artist list</a>

  <!-- ARTIST CREATION FORM -->
  <% var action='/artists/create'; %>
  <% var artist='{}'; %>
  <% var submitLabel='Create'; %>
  <% include form.ejs %>
</div>