
<h1>Create an artists</h1>

<% if (errors.length > 0) { %>
  <div class="errors">
    <p>Something goes wrong: </p>
    <% for (error of errors) { %>
        <%= error %> <br>
    <% } %>
  </div>
<% } %>

<!-- ARTIST CREATION FORM -->
<div id="app">


<script src="/js/bundle.js"></script>