
<h1>Create an artists</h1>

<% if (errors.length > 0) { %>
  <div class="errors">
    <p>Something goes wrong: </p>
    <% for (error of errors) { %>
        <%= error %> <br>
    <% } %>
  </div>
<% } %>

<!-- ARTIST CREATION FORM -->
<form action="/artists/create" method="post">
    <div>
      <h3>About</h3>
      <label>Name:</label>
      <input type="text" name="name">
    </div>
    <div>
      <h3>Neighborhood</h3>
      <div>
        <label>Neighborhood Name:</label>
        <input type="text" name="neighborhoodName">
      </div>
      <div>
        <label>Coordinates:</label>
        <input type="text" name="coordinates">
      </div>
    </div>
    <div>
      <h3>Categories:</h3>
      <label for="producer">Producer</label>
      <input type="checkbox" id="producer" name="categories" value="producer">
      <label for="rapper">Rapper</label>
      <input type="checkbox" id="rapper" name="categories" value="rapper">
      <label for="singer">Singer</label>
      <input type="checkbox" id="singer" name="categories" value="singer">
    </div>
    <div>
      <h3>Images</h3>
      <label>Thumbnail Url:</label>
      <input type="text" name="thumbnailUrl">
    </div>
    <div>
      <h3>Bio</h3>
      <div>
        <label>Summary:</label>
        <textarea name="summary">
        </textarea>
      </div>
      <div>
        <label>Wikipedia Url:</label>
        <input type="string" name="wikipediaUrl">
      </div>
      <div>
        <label>Birthdate:</label>
        <input type="date" name="birthdate">
      </div>
      <div>
        <label>Deathdate:</label>
        <input type="date" name="deathdate">
      </div>
    </div>
    <div>
      <h3>Youtube</h3>
      <div>
        <label>Page Url:</label>
        <input type="string" name="youtugePageUrl">
      </div>
      <div>
        <label>Clip Example Url:</label>
        <input type="string" name="clipExampleUrl">
      </div>
    </div>

    <button type="submit">Create</button>
</form>