<div class="admin-content">

  <% if (errors.length > 0) { %>
    <div class="errors">
      <p>Something goes wrong: </p>
      <ul>
        <% for (error of errors) { %>
          <li class="error">
            <p><%= error %> </p>
          </li>
        <% } %>
      </ul>
    </div>
  <% } %>

  <a href="/artists" class="link--back-to">&larr; Back to artist list</a>
  <!-- ARTIST EDIT FORM -->

  <% var action='/artists/' + artist.slug; %>
  <% var submitLabel='Edit ' + artist.name; %>
  <% include form.ejs %>
</div>