# Editor related file
*.sublime-workspace
*.sublime-project
*.idea

# Node related file
node_modules

# Environement variable
.env

# Doc
doc/about-prod.md

# Build related file
*.css.map
public/css/
public/js/

# Uploads
/uploads

# Test Coverage
.nyc_output
test/coverage/
