// > Variables
// ---------------------

// Colors
// Named used (http://name-of-color.com/)

$brown-pearl-bush: #e0d7c9;

$blue-mirage: #1b2b34;

$yellow-gold: #ffd700;
$yellow-vis-vis: #ffeaa3;

$red-alizarinc-crimson: #e52323;
$red-punch: #db3737;

// Grey shader
$grey-21: #333;

// Syntaxic color

$color-error: $red-alizarinc-crimson;

$color-primary: $yellow-gold;

// Typography
$base-font-size: 16px;

$font-sans-serif: liberation, sans-serif;

// Z-layer
$z-layers: (
  "header": 1500,
  "panelArtist": 1000
);