// > Variables
// ---------------------

// Colors
// Named used (http://name-of-color.com/)

$brown-pearl-bush: #e0d7c9;

$grey-21: #333;

// Typography
$base-font-size: 16px;

$font-sans-serif: sans-serif;