/*------------------------------------*\
  > Layout
  All default layout styles
\*------------------------------------*/
* {
  box-sizing: border-box;
}

body {
  background: #000;
  height: 100%;
  width: 100%;
}

// Main title
// ---------------------
.main-title {
  margin: 0;
}