<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>

  <!-- css -->
  <link rel="stylesheet" href="/css/app.css">
</head>
<body class="<%= locals.slug %>">

  <header class="admin-header">
    <h2 class="main-title">Rap Atlas</h2>
    <h1 class="page__title"><%= locals.title %></h1>
  </header>

    <%- body %>

</body>
</html>