@charset "UTF-8";
/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/***********************  > Functions
  Usefull functions use every where in the applications
\***********************/
/**
 * [parseInt Return an integer from a value with a unit]
 * @param  {number} $n [A number]
 * @return {int}    [The related integer of the given ($n) number]
 */
/**
 * [color-diff Return a map of the difference between two color]
 * @param  {color} $color-a [Any valid css color]
 * @param  {color} $color-b [Any valid css color]
 * @return {map}          [A map of the diff hue, saturation, ligthness between the two color]
 */
/***********************  > Mixins
\***********************/
/**
 * [rem Return good rem value related to a given function, and add a fallback with pixel]
 * @param  {string} $property [Any property accepting rem/px value]
 * @param  {number} $values   [A number with the wanted final value in px]
 */
/**
 * [Vertical Center]
 * @param  {string} $position [Position type of the element] (default: relative)
 */
/**
 * [Horizontal Center]
 * Horizontaly align item
 * @param  {string} $position [Position type of the element] (default: relative)
 */
/**
 * [Center Align]
 * @param  {string} $position [Position type of the element] (default: relative)
 */
/**
 * [debug-map Output content of a sass map for debug purpose]
 * @param  {map} $map [The map to debug]
 */
@font-face {
  font-family: 'liberation';
  src: url("../fonts/LiberationSans/LiberationSans-Regular-webfont.eot");
  src: url("../fonts/LiberationSans/LiberationSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/LiberationSans/LiberationSans-Regular-webfont.woff") format("woff"), url("../fonts/LiberationSans/LiberationSans-Regular-webfont.ttf") format("truetype"), url("../fonts/LiberationSans/LiberationSans-Regular-webfont.svg#liberation_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }

html {
  font-size: 62.5%; }

body {
  font-family: liberation, sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400; }

a {
  color: #ffd700;
  text-decoration: none; }
  a:hover, a:focus, a:active {
    text-decoration: underline; }

/***********************
  > Layout.scss
  All default layout styles
\***********************/
* {
  box-sizing: border-box; }

.button,
[class*="button--"] {
  display: inline-block;
  border-radius: 2px;
  border: 0;
  text-decoration: none;
  text-align: center;
  cursor: pointer; }
  .button:hover, .button:focus, .button:active,
  [class*="button--"]:hover,
  [class*="button--"]:focus,
  [class*="button--"]:active {
    text-decoration: none; }


.button.disable,
[class*="button--"].disable {
  cursor: not-allowed;
  pointer-events: none; }

.button, .button--primary, .button--danger {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 15px;
  /* 9 */
  font-size: 1.5rem;
  /* 9 */
  padding: 0 1.5rem;
  line-height: 1.8; }

.button--primary--md {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 15px;
  /* 9 */
  font-size: 1.5rem;
  /* 9 */
  padding: 0 3rem;
  line-height: 2.8; }


[class*='button--primary'] {
  position: relative;
  background-color: #ffd700;
  background-image: linear-gradient(to right, #ffd700, #ffeaa3 100%);
  background-size: 400% 400%;
  color: #1b2b34;
  transition: background-position 0.5s ease-in-out, background-color 0.2s ease-in-out; }
  
  [class*='button--primary']:after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .5;
    background: -250px center no-repeat;
    border-radius: 4px;
    background-clip: padding-box;
    transition: all .5s ease-in-out;
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0) 25%, #fff4c2 25%, #fff4c2 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 60%, #fff4c2 60%, #fff4c2 70%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0) 76%, #fff4c2 76%, #fff4c2 80%, rgba(255, 255, 255, 0) 80%); }
  
  [class*='button--primary']:hover:not(.disable),
  [class*='button--primary']:focus:not(.disable) {
    outline: none;
    background-position: 98% 50%;
    transition: background-position 1s ease-in-out, background-color 0.2s ease-in-out, color .2s ease-in-out;
    background-color: #ffeaa3;
    color: #000; }
    
    [class*='button--primary']:hover:not(.disable):after,
    [class*='button--primary']:focus:not(.disable):after {
      background-position: 200px center; }
  
  [class*='button--primary']:active:not(.disable) {
    background-image: none;
    background-color: #fad300; }


[class*='button--danger'] {
  position: relative;
  background-color: #db3737;
  color: #fff;
  transition: background-color 0.2s ease-in-out; }
  
  [class*='button--danger']:hover:not(.disable),
  [class*='button--danger']:focus:not(.disable) {
    outline: none;
    background-color: #bd2222; }
  
  [class*='button--danger']:active:not(.disable) {
    background-image: none;
    background-color: #921a1a; }

.mapbox {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%; }

.marker {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-size: cover;
  outline: none; }

.marker:hover,
.marker:focus {
  box-shadow: 0 0 0 2px #ff0066; }

.leaflet-container {
  font-family: liberation, sans-serif; }

.leaflet-popup-content-wrapper {
  padding: 0;
  border-radius: 2px;
  background: #1b2b34; }

.leaflet-popup-content {
  min-width: 320px;
  border: 0; }

.leaflet-container a {
  color: #ffd700; }
  .leaflet-container a:hover, .leaflet-container a:focus, .leaflet-container a:active {
    text-decoration: underline; }

.leaflet-popup-tip {
  border-top-color: #1b2b34; }

.leaflet-container a:hover,
.leaflet-container.dark a,
.leaflet-popup-close-button {
  color: #ffd700; }

.leaflet-popup-close-button:hover {
  background-color: #ffd700; }

.popup {
  color: #fff; }

.popup .popup__title {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 16px;
  /* 9 */
  font-size: 1.6rem;
  /* 9 */ }

.popup__thumbnail .image {
  display: block;
  max-width: 100%; }

.popup__body {
  margin-top: 1em; }

.popup__body .popup__body__title {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 16px;
  /* 9 */
  font-size: 1.6rem;
  /* 9 */ }

[type="text"],
[type="mail"],
[type="date"],
textarea {
  display: block;
  padding: 5px;
  box-shadow: 0;
  border: 0;
  border-radius: 0;
  width: 100%;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 14px;
  /* 9 */
  font-size: 1.4rem;
  /* 9 */
  background: #111a20; }
  [type="text"]:focus,
  [type="mail"]:focus,
  [type="date"]:focus,
  textarea:focus {
    outline: none;
    box-shadow: 0 2px 0 #ffd700; }

textarea {
  min-height: 250px; }

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  opacity: 0;
  position: absolute; }

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  display: inline-block;
  vertical-align: middle;
  position: relative; }

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  background: #111a20;
  border-radius: 3px;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer; }

/* Fake Checked mark aspect */
[type="checkbox"]:not(:checked) + label:hover:after,
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 10px;
  height: 10px;
  top: 6px;
  left: 5px;
  color: #ffd700;
  transition: all .2s;
  border-radius: 2px; }

[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0); }

/* Hover style */
[type="checkbox"]:not(:checked) + label:hover:after,
[type="checkbox"]:focus:not(:checked) + label:after {
  opacity: 1;
  transform: scale(1);
  background: #2c4756; }

[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
  background: #ffd700; }

/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  background-color: #16232a; }

[type="checkbox"]:disabled + label {
  color: gray; }

[type="checkbox"]:disabled + label,
[type="checkbox"]:disabled + label:before {
  cursor: not-allowed; }

/* accessibility */
.field {
  position: relative;
  margin: 0 0 .5em; }

.field__label {
  display: block;
  margin-bottom: .4em;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 16px;
  /* 9 */
  font-size: 1.6rem;
  /* 9 */ }

.field--inline {
  display: inline-block;
  margin-right: 1em; }
  .field--inline:last-child {
    margin-right: 0; }

.field-group {
  margin: 1.5em 0;
  padding-left: .5em; }
  .field-group:first-of-type {
    margin-top: 0; }
  .field-group:last-of-type {
    margin-bottom: 0; }

.field-group__title {
  margin: 0 0 0.5em -0.5em;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 18px;
  /* 9 */
  font-size: 1.8rem;
  /* 9 */
  color: #ffd700; }

.errors {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 15px;
  /* 9 */
  font-size: 1.5rem;
  /* 9 */
  margin-bottom: 1em; }

.error {
  color: #e52323; }

.error p {
  margin: 0; }

.predictive-box {
  margin: 2px 0 0;
  padding: 0; }

.predictive-box__item {
  list-style-type: none; }

.predictive-box__item__link {
  display: block;
  width: 100%;
  color: #fff;
  padding: 1em;
  background: #121d23;
  text-decoration: none;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 12px;
  /* 9 */
  font-size: 1.2rem;
  /* 9 */ }
  .predictive-box__item__link:hover, .predictive-box__item__link:focus, .predictive-box__item__link:active {
    background: #18252d;
    color: #ffd700; }

.table__row {
  background: #16232a; }
  .table__row:nth-child(odd) {
    background: #121d23; }
  .table__row:hover, .table__row:focus, .table__row:nth-child(odd):hover, .table__row:nth-child(odd):focus {
    background: #20333e; }

.table__cell {
  padding: .5em 1em;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 15px;
  /* 9 */
  font-size: 1.5rem;
  /* 9 */ }

.table__head__row {
  background: #192831; }

.table__head__cell {
  padding: 1em;
  text-align: left;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 16px;
  /* 9 */
  font-size: 1.6rem;
  /* 9 */
  text-transform: uppercase; }

.page-atlas {
  padding: 0; }

.page-admin {
  background-color: #18252d;
  color: #fff; }

.admin-header {
  background-color: #18252d;
  padding: 1em 4em; }

.main-title,
.page__title {
  display: inline-block; }

.main-title {
  margin: 0;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 24px;
  /* 9 */
  font-size: 2.4rem;
  /* 9 */ }

.main-title a {
  color: #fff; }
  .main-title a:hover, .main-title a:focus, .main-title a:active {
    text-decoration: none; }

.page__title {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 18px;
  /* 9 */
  font-size: 1.8rem;
  /* 9 */ }
  .page__title:before {
    content: ' › ';
    color: #ffd700; }

.page__title .artist-name {
  color: #ffd700; }

.admin-content {
  background-color: #1b2b34;
  margin-left: 4em;
  margin-bottom: 4em;
  padding: 2em;
  max-width: calc(100% - 8em); }

.admin-content__title {
  margin: 0;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 24px;
  /* 9 */
  font-size: 2.4rem;
  /* 9 */ }

.form-create {
  max-width: 25%; }

.table--artist {
  margin-top: 1em; }


/*# sourceMappingURL=app.css.map*/