// > Map Box
// ---------------------

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.mapbox {
     position:absolute;
     top:0;
     bottom:0;
     width:100%;
}

.marker {
    display: block;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-size: cover;
    outline: none;
}

.marker:hover,
.marker:focus {
    box-shadow: 0 0 0 2px #ff0066;
}

.leaflet-popup-content {
    min-width: 320px;
}

.popup__picture .image {
    display: block;
    max-width: 100%;
}

/**
 * Predictive box
 */

.field {
  position: relative;
}

.predictive-box {
  border: 1px solid #000;
  position: absolute;
  top: calc(100% + 10px);
  width: 500px;
  background: #fff;
  min-height: 100px;
}

.predictive-box__item {
  display: block;
}