<!-- MapBox -->
<script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.4/mapbox.js'></script>
<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>

<link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.4/mapbox.css' rel='stylesheet' />
<link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />
<link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' />

<div id='map' class='mapbox'></div>

<script>
L.mapbox.accessToken = 'pk.eyJ1IjoiY3J1Y2lmaXhhcm5hdWQiLCJhIjoiY2lxejJocHB6MDA1dWkybWc1MnhyMWRoOCJ9.BcDRx2fZ0sl3q5ofSTbZ_g';

var map = L.mapbox.map('map')
    .setView([36.3843749, -98.7628543], 5)
    .addLayer(L.mapbox.tileLayer('mapbox.dark'));

L.mapbox.featureLayer().loadURL('/artists/geojson').on('ready', function(e) {
    // The clusterGroup gets each marker in the group added to it
    // once loaded, and then is added to the map
    var clusterGroup = new L.MarkerClusterGroup();
    e.target.eachLayer(function(layer) {

        var marker = layer,
            feature = marker.feature;

        var popupContent =  '<div id="' + feature.properties.id + '" class="popup">' +
            '<h2>' + feature.properties.name + '</h2>' +
            '<div class="popup__picture">' +
                '<img src="' + feature.properties.icon.iconUrl + '" class="image" alt="">' +
            '<div>'
        '</div>';

        marker.bindPopup(popupContent);

        marker.setIcon(L.icon(feature.properties.icon));

        var content = '<h2>'+ feature.properties.name+'<\/h2>' + '<img src="'+feature.properties.icon.iconUrl+'" alt="">';

        clusterGroup.addLayer(layer);
    });
    map.addLayer(clusterGroup);
});

</script>