<!-- MapBox -->
<script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.4/mapbox.js'></script>
<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
<script src='/js/vendor/moment.js'></script>
<script src='/js/atlas.bundle.js'></script>

<div id='map' class='mapbox'></div>