<!-- MapBox -->
<script src='https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.js'></script>
<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v1.0.0/leaflet.markercluster.js'></script>

<script src='/js/vendor/moment.js'></script>
<script src='/js/atlas.bundle.js'></script>

<div id='map' class='mapbox'></div>