<% include ../../shared/atlas-header.ejs %>

<div class="errors-container">
  <h2 class="error__title">Uhhhhhh, 404. </h2>
  <div class="error__content">
    <p>You were looking for <strong><%= url %></strong>, but it doesn't exist. ¯\_(ツ)_/¯</p>
    <p>Go back to the <a href="/">atlas</a>.</p>
    <p><a href="mailto:contact@rapworldmap.com">contact@rapworldmap.com</a></p>
  </div>
</div>