<% include ../../shared/atlas-header.ejs %>

<div class="errors-container">
  <h2 class="error__title">Sorry 4 the wait.</h2>
  <div class="error__content">
    <p>Due to technical reason, Rap World Map is under maintenance and is currently unavailable.</p>
    <p>We are sorry for the disagreement and we are currently working on restoring the website to is normal state.</p>
    <p><a href="mailto:contact@rapworldmap.com">contact@rapworldmap.com</a></p>
  </div>
</div>