<header class="atlas-header">
  <h1 class="main-title">
    <a href="/" title="Go to home">
      <img src="/images/rapworldmap.svg" class="main-logo" width="350" height="66" alt="Rap World Map" />
    </a>
  </h1>
</header>