<% include ../../shared/atlas-header.ejs %>

<div class="errors-container">
  <h2 class="error__title">Black Lives Matter</h2>
  <div class="error__content">
    <p>Rapworldmap is a non-profit project celebrating Hip hop and Rap music from all around the world. A musical movement that has its roots into the black culture of the United States.</p>
    <p>To show its support with the current protests fighting for black people rights and against police brutality in the United States or anywhere else in the world, Rapworldmap will not be available for an indefinite period.</p>
    <p><a href="https://blacklivesmatter.com/">Black Lives Matter</a></p>
    <p><a href="https://twitter.com/laveritepradama">La Vérité pour Adama</a></p>
  </div>
</div>