// Atlas Notifications
// ---------------------

.notifications {
  z-index: 5000;
  top: 0;

  @include horizontal-center(absolute);
}

.notifications__list{
  list-style-type: none;
  margin: 0;
}

.notification {
  position: relative;
  overflow: hidden;
  @include rem(font-size, 14px);
}

.notification__content {
  white-space: pre;
  word-break: break-word;
  padding: 1em 1em;
  display: block;
  line-height: 1.2;
}

.notification--success {
  background: $color-success;
}