/*------------------------------------*\
  > Loader
\*------------------------------------*/

.no-js .loader {
  display: none;
}

.loader {
  z-index: z("loader");
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: darken($blue-mirage, 3);
  opacity: .1;
  visibility: hidden;
  transition: opacity .4s ease, visibility .4s ease;
}

.loader.active {
  visibility: visible;
  opacity: 1;
}

.loader__spin {
  @include center-align(absolute);
}

.loader__spin:before,
.loader__spin:after{
  content: "";
  position: absolute;
  top: -50px;
  left: -50px;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 5px solid transparent;
  border-top-color: #fff;
}

.loader__spin:before {
  z-index: z("loader") + 1;
  animation: spin 1.2s infinite linear;
}

.loader__spin:after {
  border: 5px solid darken($blue-mirage, 5);
}

// Atlas Loader
.loader--atlas {
  background: #000;
}

.loader--atlas .loader__spin:after {
  border: 5px solid #222;
}

// Keyframe

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}