/*------------------------------------*\
  > Modal
\*------------------------------------*/

// Modal mixin
// ---------------------
@mixin modal() {
  visibility: hidden;
  position: fixed;
  transition: visibility .2s, opacity .2s ease, transform .2s ease;
  opacity: 0;
  right: 0;
  background:  fade-out($blue-mirage, .1);

  overflow: auto;
  width: 100%;
  height: 100%;
  pointer-events: auto;
  left: 0;
  top: 0;
  right: 0;
  padding: 1em 0 3em 4em;
  z-index: z("modal");
  will-change: transform, opacity;

  @include breakpoint($below-md) {
    min-width: 100%;
    padding: 1em;
  }

  &.open {
    visibility: visible;
    opacity: 1;
  }
}

// Modal definition
// ---------------------
.modal {
  @include modal();
}

.modal .panel__title {
  @include rem(font-size, 22px);
  font-weight: bold;
}

.modal .panel__subtitle {
  @include rem(font-size, 18px);
  font-weight: bold;
}

.modal .link-close {
  @include rem(font-size, 12px);
  cursor: pointer;
  margin-top: 2em;
}

