/*------------------------------------*\
  > Panel
  All style for panel (submit, artist, etc)
\*------------------------------------*/

.panel {
  position: fixed;
  height: 100%;
  width: 33vw;
  right: 0;
  transform: translateX(100%);
  transition: transform .2s ease;
  padding: 2em;
  overflow-y: auto;
}

.panel.open {
  transform: translateX(0);
}

.panel-button--close {
  line-height: 1;
  float: right;
  transition: color .2s ease;
  @include rem(font-size, 30px);
}

.panel__title {
  @include rem(font-size, 18px);
}

// Artist Panel
// ---------------------

.artist-panel {

  &:focus {
    outline: none;
  }

  @include breakpoint($below-md) {
    @include modal();
    z-index: z('menu') + 500;
  }

  @include breakpoint($md) {
    visibility: hidden;
    position: absolute;
    transition: visibility .2s, transform .2s ease;
    bottom: 0;
    right: 0;
    width: 620px;
    min-height: 500px;
    padding: 1em;
    z-index: z("panelArtist");
    right: 0;
    transform: translateX(120%);
  }
}

.artist-panel.open {
  visibility: visible;
  transform: translateX(0);
}

.artist-panel__thumbnail,
.artist-panel__thumbnail--preview {
  display: block;
  overflow: hidden;
  border: 4px solid $yellow-gold;
  background: $blue-mirage;

  @include breakpoint($below-md) {
    height: 100px;
    width: 100px;
    border-radius: 50px;
  }

  @include breakpoint($md) {
    height: 200px;
    width: 200px;
    border-radius: 100px;
  }
}

.artist-panel__thumbnail {
  position: absolute;

  @include breakpoint($below-md) {
    top: 80px;
  }

  @include breakpoint($md) {
    top: -70px;
    left: -70px;
    opacity: 0;
    transform: rotate(1turn) translateX(100%);
    animation-duration: .5s;
    animation-timing-function: cubic-bezier(0.05, 1.10, 0.98, 1);
    animation-delay: .2s;
    animation-fill-mode: forwards;
    will-change: transform,opacity;
  }
}

.artist-panel__thumbnail--preview {
  margin-right: 1em;
  margin-bottom: 1em;
}

@keyframes display-circle {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.artist-panel__thumbnail__picture {
  display: block;
  width: 100%;
}

.artist-panel.open .artist-panel__thumbnail {
  animation-name: display-circle;
}

.artist-panel__body {
  @include breakpoint($below-md) {
    margin-top: 6em;
  }

  @include breakpoint($md) {
    max-width: 604px;
    min-height: 300px;
    background: url('../images/artist-panel-background.svg') no-repeat;
    background-size: cover;
    background-position: 0 0;
    padding: 1em;
  }
}

.artist-panel__name {
  margin: 20px 0 .2em 130px;
  color: $yellow-gold;
  @include rem(font-size, 24px);
}

.artist-panel__categories {
  margin: 0 0 .2em 130px;
  padding: 0;
}

.artist-panel__categories__item {
  @include rem(font-size, 11px);
  background: $blue-mirage;
  display: inline-block;
  padding: 4px 10px 2px;
  margin: 0 .5em 0 0;
  text-transform: uppercase;
  color: $blue-mirage;
  background: $yellow-gold;
  font-weight: bold;
  border-radius: 2px;
}

.artist-panel__bio {
  @include rem(font-size, 16px);

  @include breakpoint($md) {
    margin: 30px 0 3em 20px;
  }
}

.artist-panel__bio p {
  margin-bottom: .5em;
}

.artist-panel__readmore {
  @include rem(font-size, 12px);

  &:after {
    content: '\21AA';
    display: inline-block;
    vertical-align: bottom;
    line-height: 10px;
    margin-left: 3px;
  }
}

.button--close {
  position: absolute;

  @include button-transparent($yellow-gold);

  @include rem(font-size, 30px);
}

.artist-panel__button--close {

  @include breakpoint($below-md) {
    top: 1em;
    right: 15px;
  }

  @include breakpoint($md) {
    top: 0.5em;
    right: 1em;
  }
}

.artist-panel__thumbnail--preview {
  margin-bottom: 1em;
}

@keyframes display-youtubeClip {
  to {
    opacity: 1;
  }
}

.artist-panel__youtube {
  position: relative;

  @include breakpoint($below-md) {
    margin: 1em 0;
    width: 100%;
  }

  @include breakpoint($md) {
    position: relative;
    min-height: 182px;
    min-width: 340px;
    opacity: 0;
    animation-name: display-youtubeClip;
    animation-duration: .5s;
    animation-timing-function: cubic-bezier(0.05, 1.10, 0.98, 1);
    animation-delay: .2s;
    animation-fill-mode: forwards;
    will-change: transform,opacity;
    margin-right: 2em;
    margin-top: -3em;
  }
}

.artist-panel__youtube__embed {

  @include breakpoint($below-md) {
    background: $yellow-gold;
    padding: 1em;
    width: 100%;
  }

  @include breakpoint($md) {
    position: absolute;
    right: 15px;
    z-index: z('panelArtist');
  }
}

.artist-panel__youtube__background {

  @include breakpoint($below-md) {
    display: none;
  }

  @include breakpoint($md) {
    position: absolute;
    right: -5px;
    top: -15px;
  }
}

.artist-panel__location,
.artist-panel__yearsactive {
  display: inline-block;
  @include rem(font-size, 14px);
}

.artist-panel__location{
  margin: 0 0 10px 130px;
}

.artist-panel__location__city {
  cursor: pointer;
}

.artist-panel__yearsactive {
  margin: 0 0 10px 20px;

  @include breakpoint($below-md) {
    @include rem(font-size, 10px);
  }

  @include breakpoint($below-md) {
    display: block;
    margin-left: 130px;
  }
}

// Submit Artist Panel
// ---------------------

.menu__item--submit-artist {
  position: relative;

  @include breakpoint($md) {
    margin-bottom: .5em;
  }
}

.submit-artist-panel {

  &:focus {
    outline: none;
  }

  @include breakpoint($below-md) {
    @include modal();
  }

  @include breakpoint($md) {
    visibility: hidden;
    position: absolute;
    z-index: -1;
    transition: visibility .2s, transform .2s ease;
    right: 0;
    max-width: 600px;
    pointer-events: auto;
    left: 0;
    top: 0;
    padding: 1em 4em;
    z-index: z("panelArtist");
    right: 0;
    transform: translateX(-120%);
    will-change: transform,opacity;
    background: url('../images/submit-artist-panel-background.svg') no-repeat;
    background-size: cover;
  }
}

.submit-artist-panel.open {
  @include breakpoint($md) {
    visibility: visible;
    transform: translateX(125px);
  }
}

.submit-artist-panel__content {
  max-width: 500px;
  padding: 0 1em;

  @include breakpoint($below-md) {
    margin-top: 6em;
  }
}

.submit-artist-panel__button--close {
  top: 15px;

  @include breakpoint($below-md) {
    right: 15px;
  }

  @include breakpoint($md) {
    right: 35px;
  }
}

// Search Artist Panel
// ---------------------

.menu__item--search-artist {
  position: relative;

  @include breakpoint($md) {
    margin-bottom: .5em;
  }
}

.search-artist-panel {

  @include breakpoint($below-md) {
    @include modal();
  }

  @include breakpoint($md) {
    visibility: hidden;
    position: absolute;
    z-index: -1;
    transition: visibility .2s, transform .2s ease;
    right: 0;
    max-width: 600px;
    pointer-events: auto;
    left: 0;
    top: 0;
    padding: 1em 4em;
    z-index: z("panelArtist");
    right: 0;
    transform: translateX(-120%);
    will-change: transform,opacity;
    background: url('../images/search-artist-panel-background.svg') no-repeat;
    background-size: cover;
  }
}

.search-artist-panel.open {
  @include breakpoint($md) {
    visibility: visible;
    transform: translateX(125px);
  }
}

.search-artist-panel__content {
  max-width: 500px;
  padding: 0 1em;

  @include breakpoint($below-md) {
    margin-top: 6em;
  }
}

.search-artist-panel__button--close {
  top: 15px;

  @include breakpoint($below-md) {
    right: 15px;
  }

  @include breakpoint($md) {
    right: 35px;
  }
}

.field--search {
  max-width: 800px;
}

.field--search__input,
.field--search__button {
  display: inline-block;
}

.field--search__input {
  max-width: 50%;

  @include breakpoint($md) {
    max-width: 75%;
  }
}

.field--search__button {
  margin-left: 1em;
}

.search-panel__body {
  @include rem(font-size, 16px);

  @include breakpoint($below-sm) {
    margin-top: 4em;
  }

  @include breakpoint($md) {
    margin-top: 5em;
  }
}

.search-result {
  list-style-type: none;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  padding: 0;
}

.search-result__item {
  text-align: center;
  margin: .5em;
  transition: background .2s ease;

  @include breakpoint($below-sm) {
    width: calc(50% - 20px);
  }

  @include breakpoint($md) {
    width: calc(10% - 20px);
  }
}

.search-result__item__link {
  display: block;
  @include rem(font-size, 14px);
  cursor: pointer;
  padding: 0;
  background: transparent;
  border: 0;
  color: $yellow-gold;
  appearance: none;
  width: 100%;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

.search-result__item__thumbnail {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  overflow: hidden;
  margin: 0 auto;
  border: 2px solid $yellow-gold;
  position: relative;
}

.search-result__item__thumbnail:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: none;
  position: absolute;
  top: 0;
  transition: background .2s ease;
}

.search-result__item__link:hover,
.search-result__item__link:focus,
.search-result__item__link:active {
  outline-color: $yellow-gold;
}

.search-result__item__link:hover .search-result__item__thumbnail:after,
.search-result__item__link:focus .search-result__item__thumbnail:after,
.search-result__item__link:active .search-result__item__thumbnail:after {
  background: rgba(255, 215, 0, .4);
}


.search-result__item__thumbnail img {
  width: 100%;
}

.search-result__item__location {
  @include rem(font-size, 12px);
}