/*------------------------------------*\
  > Table
\*------------------------------------*/

@use 'sass:color';
@use '../utils/variables' as *;
@use '../utils/mixins' as *;
@use '../utils/functions' as *;

.table {
  max-width: 1200px;
  width: 100%;
}

// Table row
.table__row {
  background: color.adjust($blue-mirage, $lightness: -3%);

  &:nth-child(odd) {
    background: color.adjust($blue-mirage, $lightness: -5%);
  }

  &:hover,
  &:focus,
  &:nth-child(odd):hover ,
  &:nth-child(odd):focus {
    background: color.adjust($blue-mirage, $lightness: 3%);
  }
}


// Table cell
.table__cell {
  padding: .5em 1em;
  @include rem(font-size, 13px);
  max-width: 200px;
}

// Table cell loader
.table__cell--loader {
  height: 25vh;
  text-align: center;
  position: relative;
  width: 100%;
}

// Table head
.table__head__row {
  background: color.adjust($blue-mirage, $lightness: -1%);
}

.table__head__cell {
  padding: 1em;
  text-align: left;
  @include rem(font-size, 16px);
  text-transform: uppercase;
}