// Page Admin
// ---------------------

.page-admin {
  background-color: darken($blue-mirage, 2);
  color: #fff;
}

.link--back-to {
  @include rem(font-size, 16px);
  display: inline-block;
  margin-bottom: 1em;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    color: $yellow-vis-vis;
  }
}


// admin-header
// ---------------------
.admin-header {
  background-color: darken($blue-mirage, 2);
  padding: 1em 4em;
}

.main-title,
.page__title {
  display: inline-block;
}

.main-title {
  margin: 0;
  @include rem(font-size, 24px);
}

.main-title a {
  color: #fff;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

.page__title {
  @include rem(font-size, 18px);

  &:before {
    content: ' › ';
    color: $color-primary;
  }
}

.page__title .artist-name {
  color: $color-primary;
}

// Admin Content
.admin-content {
  background-color: $blue-mirage;
  margin-left: 4em;
  margin-bottom: 4em;
  padding: 2em;
  max-width: calc(100% - 8em);
}

.admin-content__title {
  margin: 0;
  @include rem(font-size, 24px);
}

// Form Create
// ---------------------

.form-create {
  max-width: 25%;
}

// Artists List
// ---------------------
.artist-total {
  @include rem(font-size, 16px);
}

.table--artist {
  margin-top: 1em;
}

