// Page Atlas
// ---------------------

.page-atlas {
  padding: 0;
  color: #fff;
  overflow: hidden;
}

.page-atlas .app-container {
  width: 100vw;
  height: 100vh;
}

// Atlas-header
// ---------------------
.atlas-header {
  display: block;
  width: 100%;
  min-height: 66px;
  position: relative;
  z-index: z('header');
  pointer-events: none;
}

.atlas-header__title {
  margin: 0;
}

.atlas-header__title a {
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

.atlas-header .main-logo {
  @include breakpoint($below-md) {
    width: 50%;
  }
}

//  Atlas-menu
// ---------------------

.atlas-menu {
  position: relative;
  z-index: z(header);;
  pointer-events: none;
}

.atlas-menu .menu {
  margin-left: 1em;
}

.atlas-menu .menu,
.atlas-menu .submenu {
  list-style-type: none;
  padding: 0;
}

.atlas-menu .menu__item__button,
.atlas-menu .submenu__item__button {
  pointer-events: auto;
  @include rem(font-size, 14px);
  @include button-transparent(#fff);
}

.atlas-menu .menu__item__button {
  &:hover .button__label,
  &:focus .button__label,
  &:active .button__label {
    text-decoration: underline;
  }
}

.atlas-menu .submenu__item__button {
  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
  }
}

.atlas-menu .button__icon {
  display: block;
  margin: 0 auto;
}

.atlas-menu .button__label {
  display: inline-block;
  margin-top: .5em;
}

.atlas-menu .submenu,
.atlas-menu .submenu__item,
.menu__item__button {
  display: inline-block;
  vertical-align: middle;
}

// submenu--placeofinterests

.submenu--placeofinterests {
  margin-top: -1em;
}

.submenu--placeofinterests .submenu__item {
  margin-right: -0.5em;
  opacity: 0;
  transform: scale(0);
  transition: opacity .2s ease, transform .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.submenu--placeofinterests .submenu__item.open {
  opacity: 1;
  transform: scale(1);

  &:hover,
  &:focus,
  &:active {
    transform: scale(1.1);
  }
}

// Mapbox
// ---------------------

.mapbox {
     position:absolute;
     top: 0;
     bottom: 0;
     width: 100%;
     right: 0;
}

.marker {
    display: block;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-size: cover;
    outline: none;
    transition: box-shadow .3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.marker:hover,
.marker:focus {
    box-shadow: 0 0 0 2px $yellow-gold;
}

.leaflet-container {
  font-family: $font-sans-serif;
}

// Marker Cluster
// ---------------------

.marker-cluster-small,
.marker-cluster-medium {
  transition: background-color .3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

// Small
.marker-cluster-small {
  background-color: rgba(255, 0, 102, .2);

  &:hover,
  &:focus,
  &:active {
    background-color: rgba(255, 0, 102, .5);
  }
}

.marker-cluster-small div {
  background-color: rgba(255, 0, 102, .8);
}

// Medium
.marker-cluster-medium {
  background-color: rgba(143, 57, 154, .2);

  &:hover,
  &:focus,
  &:active {
    background-color: rgba(143, 57, 154, .6);
  }
}

.marker-cluster-medium div {
  background-color: rgba(143, 57, 154, .8);
}

// Artist Bar
// ---------------------

.artist-panel {
  visibility: hidden;
  position: absolute;
  transition: visibility 0s, transform .2s ease;
  bottom: 0;
  right: 0;

  @include breakpoint($below-md) {
    background: $blue-mirage;
    min-width: 360px;
  }

  @include breakpoint($md) {
    width: 620px;
    min-height: 450px;
    padding: 1em;
    z-index: z("panelArtist");
    right: 0;
    transform: translateX(120%);
  }
}

.artist-panel.open {
  visibility: visible;
  transform: translateX(0);
}

.artist-panel__thumbnail,
.artist-panel__thumbnail--preview {
  display: block;
  overflow: hidden;
  margin-right: 1em;
  margin-bottom: 1em;
  border: 4px solid $yellow-gold;
  background: $blue-mirage;

  @include breakpoint($below-md) {
    height: 100px;
    width: 100px;
    border-radius: 50px;
  }

  @include breakpoint($md) {
    height: 200px;
    width: 200px;
    border-radius: 100px;
  }
}

.artist-panel__thumbnail {
  position: absolute;
  float: left;

  @include breakpoint($below-md) {
    // top: -35px;
    // left: -35px;
    top: 20px;
    left: 20px;
  }

  @include breakpoint($md) {
    top: -70px;
    left: -70px;
    opacity: 0;
    transform: rotate(1turn) translateX(100%);
    animation-duration: .5s;
    animation-timing-function: cubic-bezier(0.05, 1.10, 0.98, 1);
    animation-delay: .2s;
    animation-fill-mode: forwards;
    will-change: transform,opacity;
  }
}

.artist-panel__thumbnail--preview {
  margin-bottom: 1em;
}

@keyframes display-circle {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.artist-panel__thumbnail__picture {
  display: block;
  width: 100%;
}

.artist-panel.open .artist-panel__thumbnail {
  animation-name: display-circle;
}

.artist-panel__body {
  @include breakpoint($below-md) {
    max-width: 75vw;
  }

  @include breakpoint($md) {
    max-width: 575px;
  }
}

.artist-panel__name {
  margin: 20px 0 .2em 140px;
  color: $yellow-gold;
  @include rem(font-size, 24px);
}

.artist-panel__categories {
  margin: 0 0 .2em 140px;
  padding: 0;
}

.artist-panel__bio {
  margin: 30px 0 1em 20px;
  @include rem(font-size, 16px);
}

.artist-panel__bio p {
  margin-bottom: .5em;
}

.artist-panel__readmore {
  @include rem(font-size, 12px);
}

.artist-panel__background {
  display: block;
  // background: $blue-mirage;
  padding: .5em;

  @include breakpoint($md) {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
}

.artist-panel__button--close {
  line-height: 1;
  position: absolute;
  top: 0;
  transition: color .2s ease;
  @include rem(font-size, 30px);

  @include breakpoint($below-md) {
    right: 15px;
  }

  @include breakpoint($md) {
    right: 35px;
  }

  &:hover,
  &:focus,
  &:active {
    color: darken($yellow-gold, 15);
  }
}

.artist-panel__thumbnail--preview {
  margin-bottom: 1em;
}

@keyframes display-youtubeClip {
  to {
    opacity: 1;
  }
}

.artist-panel__youtube {
  position: relative;

  @include breakpoint($below-md) {
    margin: 1em 0;
    @include horizontal-center(absolute);
  }

  @include breakpoint($md) {
    position: relative;
    min-height: 182px;
    min-width: 340px;
    opacity: 0;
    animation-name: display-youtubeClip;
    animation-duration: .5s;
    animation-timing-function: cubic-bezier(0.05, 1.10, 0.98, 1);
    animation-delay: .2s;
    animation-fill-mode: forwards;
    will-change: transform,opacity;
  }
}

.artist-panel__youtube__embed {

  @include breakpoint($below-md) {
    background: $yellow-gold;
    padding: 1em;
  }

  @include breakpoint($md) {
    position: absolute;
    right: 15px;
    z-index: z('panelArtist');
  }
}

.artist-panel__youtube__background {

  @include breakpoint($below-md) {
    display: none;
  }

  @include breakpoint($md) {
    position: absolute;
    right: -5px;
    top: -15px;
  }
}

.artist-panel__location,
.artist-panel__yearsactive {
  display: inline-block;
  @include rem(font-size, 14px);
}

.artist-panel__location{
  margin: 0 0 10px 140px;
}

.artist-panel__location__city {
  cursor: pointer;
}

.artist-panel__yearsactive {
  margin: 0 0 10px 20px;

  @include breakpoint($below-md) {
    display: block;
    margin-left: 140px;
  }
}

// Panel
// ---------------------

.panel {
  position: fixed;
  height: 100%;
  width: 33vw;
  right: 0;
  transform: translateX(100%);
  transition: transform .2s ease;
  padding: 2em;
  overflow-y: auto;
}

.panel.open {
  transform: translateX(0);
}

.panel-button--close {
  line-height: 1;
  float: right;
  transition: color .2s ease;
  @include rem(font-size, 30px);

  &:hover,
  &:focus,
  &:active {
    color: darken($yellow-gold, 15);
  }
}

// Panel-artist
// ---------------------

.panel-artist__name {
  margin: 0 0 .2em;
  color: $yellow-gold;
  @include rem(font-size, 24px);
}

.panel-artist__thumbnail {
  display: block;
  height: 250px;
  width: 250px;
  overflow: hidden;
  border-radius: 125px;
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
}

.panel-artist__thumbnail__picture {
  display: block;
  width: 100%;
}

.panel-artist__bio {
  margin-top: 1em;
}

.panel-artist__bio,
.panel-artist__youtube {
  @include rem(font-size, 16px);
}

.panel-artist__categories {
  list-style-type: none;
  margin: 0;
}

.panel-artist__categories__item {
  @include rem(font-size, 11px);
  background: $blue-mirage;
  display: inline-block;
  padding: 4px 10px 2px;
  margin: 0 .5em 0 0;
  text-transform: uppercase;
  color: $blue-mirage;
  background: $yellow-gold;
  font-weight: bold;
  border-radius: 2px;
}

.panel-artist__youtube {
  margin: 1em 0;
}

.panel-artist__youtube__embed {
  width: 100%;
  height: 333px;
}