// Page Atlas
// ---------------------

.page-atlas {
  padding: 0;
}

// Marker Cluster
// ---------------------

// Small
.marker-cluster-small {
  background-color: rgba(255, 0, 102, .2);
}

.marker-cluster-small div {
  background-color: rgba(255, 0, 102, .8);
}

// Medium
.marker-cluster-medium {
  background-color: rgba(143, 57, 154, .2);
}

.marker-cluster-medium div {
  background-color: rgba(143, 57, 154, .8);
}

// Panel
// ---------------------

.panel {
  position: fixed;
  background-color: darken($blue-mirage, 2);
  height: 100%;
  width: 33vw;
  right: 0;
  transform: translateX(100%);
  transition: transform .2s ease;
}

.panel.open {
  transform: translateX(0);
}