// Page Atlas
// ---------------------

.page-atlas {
  padding: 0;
  color: #fff;
  overflow: hidden;
}

// Marker Cluster
// ---------------------

// Small
.marker-cluster-small {
  background-color: rgba(255, 0, 102, .2);
}

.marker-cluster-small div {
  background-color: rgba(255, 0, 102, .8);
}

// Medium
.marker-cluster-medium {
  background-color: rgba(143, 57, 154, .2);
}

.marker-cluster-medium div {
  background-color: rgba(143, 57, 154, .8);
}

// Artist Bar
// ---------------------

.artist-panel {
  position: absolute;
  bottom: 15vh;
  right: 0;
  width: 620px;
  min-height: 320px;
  padding: 1em;
  z-index: z("panelArtist");
  right: 0;
  transform: translateX(120%);
  transition: transform .2s ease;
}

// .panel {
//   position: fixed;
//   height: 100%;
//   width: 33vw;
//   padding: 2em;
// }

.artist-panel.open {
  transform: translateX(0);
}

.artist-panel__thumbnail {
  position: absolute;
  top: -70px;
  left: -70px;
  display: block;
  height: 200px;
  width: 200px;
  overflow: hidden;
  border-radius: 100px;
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
  border: 4px solid $yellow-gold;
}

.artist-panel__thumbnail__picture {
  display: block;
  width: 100%;
}

.artist-panel__body {
  max-width: 575px;
}

.artist-panel__name {
  margin: 20px 0 .2em 140px;
  color: $yellow-gold;
  @include rem(font-size, 24px);
}

.artist-panel__categories {
  margin: 0 0 .2em 140px;
  padding: 0;
}

.artist-panel__bio {
  @include rem(font-size, 16px);
  margin: 30px 0 0 20px;
}

.artist-panel__bio p {
  margin-bottom: .5em;
}

.artist-panel__readmore {
  @include rem(font-size, 12px);
}

.artist-panel__background {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.artist-panel__button--close {
  line-height: 1;
  position: absolute;
  top: 0;
  right: 35px;
  transition: color .2s ease;
  @include rem(font-size, 30px);

  &:hover,
  &:focus,
  &:active {
    color: darken($yellow-gold, 15);
  }
}

.artist-panel__youtube {
  position: relative;
}

.artist-panel__youtube__embed {
  position: absolute;
  right: 15px;
  z-index: z('panelArtist');
}

.artist-panel__youtube__background {
  position: absolute;
  right: -5px;
  top: -15px;
}

.artist-panel__location {
  margin: 0 0 10px 140px;
  @include rem(font-size, 14px);
}

// Panel
// ---------------------

.panel {
  position: fixed;
  height: 100%;
  width: 33vw;
  right: 0;
  transform: translateX(100%);
  transition: transform .2s ease;
  padding: 2em;
  overflow-y: auto;
}

.panel.open {
  transform: translateX(0);
}

.panel-button--close {
  line-height: 1;
  float: right;
  transition: color .2s ease;
  @include rem(font-size, 30px);

  &:hover,
  &:focus,
  &:active {
    color: darken($yellow-gold, 15);
  }
}

// Panel-artist
// ---------------------

.panel-artist__name {
  margin: 0 0 .2em;
  color: $yellow-gold;
  @include rem(font-size, 24px);
}

.panel-artist__thumbnail {
  display: block;
  height: 250px;
  width: 250px;
  overflow: hidden;
  border-radius: 125px;
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
}

.panel-artist__thumbnail__picture {
  display: block;
  width: 100%;
}

.panel-artist__bio {
  margin-top: 1em;
}

.panel-artist__bio,
.panel-artist__youtube {
  @include rem(font-size, 16px);
}

.panel-artist__categories {
  list-style-type: none;
  margin: 0;
}

.panel-artist__categories__item {
  @include rem(font-size, 11px);
  background: $blue-mirage;
  display: inline-block;
  padding: 4px 10px 2px;
  margin: 0 .5em 0 0;
  text-transform: uppercase;
  color: $blue-mirage;
  background: $yellow-gold;
  font-weight: bold;
  border-radius: 2px;
}

.panel-artist__youtube {
  margin: 1em 0;
}

.panel-artist__youtube__embed {
  width: 100%;
  height: 333px;
}