// Page Atlas
// ---------------------

.page-atlas {
  padding: 0;
  color: #fff;
}

// Marker Cluster
// ---------------------

// Small
.marker-cluster-small {
  background-color: rgba(255, 0, 102, .2);
}

.marker-cluster-small div {
  background-color: rgba(255, 0, 102, .8);
}

// Medium
.marker-cluster-medium {
  background-color: rgba(143, 57, 154, .2);
}

.marker-cluster-medium div {
  background-color: rgba(143, 57, 154, .8);
}

// Panel
// ---------------------

.panel {
  position: fixed;
  background-color: darken($blue-mirage, 2);
  height: 100%;
  width: 33vw;
  right: 0;
  transform: translateX(100%);
  transition: transform .2s ease;
  padding: 2em;
  overflow-y: auto;
}

.panel.open {
  transform: translateX(0);
}

.panel-button--close {
  float: right;
  @include rem(font-size, 30px);
}

// Panel-artist
// ---------------------

.panel-artist__name {
  margin-top: 0;
  color: $yellow-gold;
  @include rem(font-size, 24px);
  display: inline-block;
}

.panel-artist__thumbnail {
  display: block;
  max-width: 100%;
  max-height: 300px;
}

.panel-artist__bio,
.panel-artist__youtube {
  @include rem(font-size, 16px);
}

.panel-artist__categories {
  list-style-type: none;
  margin: 0;
  display: inline-block;
}

.panel-artist__categories__item {
  @include rem(font-size, 12px);
  background: $blue-mirage;
  display: inline-block;
  padding: 4px 10px 2px;
  margin: 0 .5em;
  text-transform: uppercase;
  color: $blue-mirage;
  background: $yellow-gold;
  font-weight: bold;
  border-radius: 2px;
}

.panel-artist__youtube {
  margin: 1em 0;
}

.panel-artist__youtube__embed {
  width: 100%;
  height: 333px;
}