// > Main Page Styles
// ---------------------

html {
    background: #efe6d9;
}

// > Page Header
// ---------------------
.page__header {
    background: url('/images/photos/arduina-pano.jpg') no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 75vh;
    position: relative;
}

// > Group Title
// ---------------------
.group-title {
    margin: 0;
    text-align: center;
    @include center-align(absolute);
    width: 15em;
    height: 15em;
    border-radius: 50%;
    background: url("/images/textures/fabric-white-01.jpg") #efe6d9;
    @include rem(font-size, 25px);
    box-shadow: 0 0 0 10px rgba(247, 243, 233, .4);
    border: 1px solid #dad1c3;
}

.group-title__content {
    width: 100%;
    @include center-align(absolute);
}

.main-title,
.main-subtitle {
    font-family: cac_champagneregular;
    font-weight: 400;
    line-height: 1;
    margin: 0;
    color: #d47060;
}

.main-title {
    @include rem(font-size, 55px);
}

// > Main Menu
// ---------------------

.main-menu {

}

.list-link {
    list-style-type: none;
    font-size: 0;
}

.list-link__item {
    @include rem(font-size, 24px);
    display: inline-block;
    margin-right: .5em;

    &:last-child {
        margin-right: 0;
    }
}