//====== Form ======

// Input like text
// ---------------------

@mixin inputText () {
  display: block;
  box-shadow: 0;
  border-color: 1px solid $grey-21;
  border-radius: 0;
  padding: 5px;
  outline-color: #ff0066;
}

[type="text"],
[type="mail"] {
  @include inputText();
}

/**
 * Predictive box
 */

.field {
  position: relative;
}

.predictive-box {
  border: 1px solid #000;
  position: absolute;
  top: calc(100% + 10px);
  width: 500px;
  background: #fff;
  min-height: 100px;
}

.predictive-box__item {
  display: block;
}