//====== Form ======

// Input like text
// ---------------------

@mixin inputText () {
  display: block;
  padding: 5px;
  box-shadow: 0;
  border: 0;
  border-radius: 0;
  // min-width: 250px;
  width: 100%;
  @include rem(font-size, 14px);
  // outline-color: $color-primary;
  background: darken($blue-mirage, 6);

  &:focus {
    outline: none;
    box-shadow:  0 2px 0 $color-primary;
  }
}

[type="text"],
[type="email"],
[type="password"],
[type="date"],
textarea {
  @include inputText();
}

// textarea
// ---------------------

textarea {
  min-height: 250px;
}


// Checkbox
// ---------------------

// Hide default input
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  opacity: 0;
  position: absolute;
}

// Label styles
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

// Fake checkbox Aspect
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  background: darken($blue-mirage, 6);
  border-radius: 3px;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
}

/* Fake Checked mark aspect */
[type="checkbox"]:not(:checked) + label:hover:after,
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 10px;
  height: 10px;
  top: 6px;
  left: 5px;
  color: $color-primary;
  transition: all .2s;
  border-radius: 2px;
}

[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

/* Hover style */
[type="checkbox"]:not(:checked) + label:hover:after,
[type="checkbox"]:focus:not(:checked) + label:after {
  opacity: 1;
  transform: scale(1);
  background: lighten($blue-mirage, 10);
}

// Checked
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
  background: $color-primary;
}

/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  background-color: darken($blue-mirage, 3);
}

[type="checkbox"]:disabled + label {
  color: darken(#fff, 50);
}

[type="checkbox"]:disabled + label,
[type="checkbox"]:disabled + label:before {
  cursor: not-allowed;
}

/* accessibility */
// [type="checkbox"]:checked:focus + label:before,
// [type="checkbox"]:not(:checked):focus + label:before {
//   border: 1px dotted blue;
// }

// Input File
// ---------------------

.input--file {
  @include rem(font-size, 16px);
}

// Field
// ---------------------

.field {
  position: relative;
  margin: 0 0 .5em;
}

.field__label {
  display: block;
  margin-bottom: .4em;
  @include rem(font-size, 16px);
}

// field--inline

.field--inline {
  display: inline-block;
  margin-right: 1em;

  &:last-child {
    margin-right: 0;
  }
}

// Field group
// ---------------------

.field-group {
  margin: 1.5em 0;
  padding-left: .5em;

  &:first-of-type {
    margin-top: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.field-group__title {
  margin: 0 0 0.5em -0.5em;
  @include rem(font-size, 18px);
  color: $color-primary;
}

// Errors
// ---------------------

.errors {
  @include rem(font-size, 15px);
  margin-bottom: 1em;
}

.error {
  color: $color-error;
}

.error p {
  margin: 0;
}