// Submit Artists Panel
// ---------------------

.submit-artist-panel {
  visibility: hidden;
  position: absolute;
  transition: visibility 0s, transform .2s ease;
  bottom: 0;
  right: 0;

  @include breakpoint($below-md) {
    background: $blue-mirage;
    min-width: 100%;
    padding: 1em;
  }

  @include breakpoint($md) {
    max-width: 600px;
    min-height: 325px;
    pointer-events: auto;
    position: relative;
    padding: 1em 4em;
    z-index: z("panelArtist");
    right: 0;
    transform: translateX(-120%);
    will-change: transform,opacity;
  }
}

.submit-artist-panel.open {
  visibility: visible;
  transform: translateX(0);
}

.submit-artist-panel__content {
  max-width: 500px;
}

.submit-artist-panel__background {
  display: block;
  padding: .5em;

  @include breakpoint($below-md) {
    display: none;
  }

  @include breakpoint($md) {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
}

.artist-panel {
  visibility: hidden;
  position: absolute;
  transition: visibility 0s, transform .2s ease;
  bottom: 0;
  right: 0;

  @include breakpoint($below-md) {
    background: $blue-mirage;
    min-width: 360px;
  }

  @include breakpoint($md) {
    width: 620px;
    min-height: 450px;
    padding: 1em;

  }
}

.submit-artist-panel__button--close {
  top: 15px;

  @include breakpoint($below-md) {
    right: 15px;
  }

  @include breakpoint($md) {
    right: 35px;
  }
}