/*------------------------------------*\
  > Page Admin
  Specific style for page admin
\*------------------------------------*/

.page-admin {
  background-color: darken($blue-mirage, 2);
  color: #fff;
}

.link--back-to {
  @include rem(font-size, 16px);
  display: inline-block;
  margin-bottom: 1em;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    color: $yellow-vis-vis;
  }
}


// admin-header
// ---------------------
.admin-header {
  background-color: darken($blue-mirage, 2);
  // padding: 1em 4em;
}

.main-title,
.page__title,
.admin__title {
  display: inline-block;
  vertical-align: middle;
}

.main-title {
  margin: 0;
  @include rem(font-size, 24px);
}

.main-logo {
  display: block;
}

.main-title a {
  color: #fff;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

.page__title,
.admin__title {
  @include rem(font-size, 18px);
}

.page__title {
  &:before {
    content: ' › ';
    color: $color-primary;
  }
}

.admin__title {
  color: #fff;
  margin-right: .2em;
}

.page__title .artist-name {
  color: $color-primary;
}

// Admin Content
.admin-content {
  background-color: $blue-mirage;
  margin-left: 4em;
  margin-bottom: 4em;
  padding: 2em;
  max-width: calc(100% - 8em);
}

.admin-content__title {
  margin: 0;
  @include rem(font-size, 24px);
}

// Form
// ---------------------

.form {
  max-width: 500px;
}

// Artists List
// ---------------------
.artist-total {
  @include rem(font-size, 16px);
}

.table--artist {
  margin-top: 1em;
}

