// Page Atlas
// ---------------------

.page-atlas {
  padding: 0;
  color: #fff;
  overflow: hidden;
}

.page-atlas .app-container {
  width: 100vw;
  height: 100vh;
}

// Atlas-header
// ---------------------
.atlas-header {
  display: block;
  width: 100%;
  min-height: 66px;
  position: relative;
  z-index: z('header');
  pointer-events: none;
}

.atlas-header__title {
  margin: 0;
}

.atlas-header__title a {
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

.atlas-header .main-logo {
  @include breakpoint($below-md) {
    width: 50%;
  }
}

//  Atlas-menu
// ---------------------

.atlas-menu {
  position: relative;
  z-index: z(menu);
  pointer-events: none;
}

.atlas-menu .menu {
  margin-left: 1em;
}

.atlas-menu .menu__item__button {
  width: 130px;

  &:hover .button__label,
  &:focus .button__label,
  &:active .button__label {
    text-decoration: underline;
  }
}

.atlas-menu .submenu__item__button {
  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
  }
}

.atlas-menu .button__icon {
  display: block;
  margin: 0 auto;
}

.atlas-menu .button__label {
  display: inline-block;
  margin-top: .5em;
}

.atlas-menu .submenu,
.atlas-menu .submenu__item,
.menu__item__button {
  display: inline-block;
  vertical-align: middle;
}

// submenu--placeofinterests

.submenu--placeofinterests {
  position: absolute;
}

.submenu--placeofinterests .submenu__item .button__icon,
.submenu--placeofinterests .submenu__item {
  transition: opacity .2s ease, transform .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.submenu--placeofinterests .submenu__item {
  margin-right: -0.5em;
  opacity: 0;
  transform: scale(0);
}

.submenu--placeofinterests .submenu__item.open {
  opacity: 1;
  transform: scale(1);

  &:hover .button__icon,
  &:focus .button__icon,
  &:active .button__icon {
    transform: scale(1.1);
  }
}

.submenu--placeofinterests .button__label {
  @include horizontal-center(absolute);
  opacity: 0;
  margin: .5em 0 0;
  width: 200%;
  transition: opacity .2s ease;
}

.submenu--placeofinterests .submenu__item.open:hover .button__label,
.submenu--placeofinterests .submenu__item.open:focus .button__label,
.submenu--placeofinterests .submenu__item.open:active .button__label {
  opacity: 1;
}

// Mapbox
// ---------------------

.mapbox {
     position:absolute;
     top: 0;
     bottom: 0;
     width: 100%;
     right: 0;
}

.marker {
    display: block;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-size: cover;
    outline: none;
    transition: box-shadow .3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.marker:hover,
.marker:focus {
    box-shadow: 0 0 0 2px $yellow-gold;
}

.leaflet-container {
  font-family: $font-sans-serif;
}

// Marker Cluster
// ---------------------

.marker-cluster-small,
.marker-cluster-medium {
  transition: background-color .3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

// Small
.marker-cluster-small {
  background-color: rgba(255, 0, 102, .2);

  &:hover,
  &:focus,
  &:active {
    background-color: rgba(255, 0, 102, .5);
  }
}

.marker-cluster-small div {
  background-color: rgba(255, 0, 102, .8);
}

// Medium
.marker-cluster-medium {
  background-color: rgba(143, 57, 154, .2);

  &:hover,
  &:focus,
  &:active {
    background-color: rgba(143, 57, 154, .6);
  }
}

.marker-cluster-medium div {
  background-color: rgba(143, 57, 154, .8);
}

// Atlas Footer
// ---------------------

.atla-footer {
  position: absolute;
  z-index: z("footer");
  bottom: 0;
  left: 1em;
}

.about-panel {
  visibility: hidden;
  position: fixed;
  transition: visibility .2s, opacity .2s ease, transform .2s ease;
  opacity: 0;
  right: 0;
  background:  fade-out($blue-mirage, .1);

  @include breakpoint($below-md) {
    min-width: 100%;
    padding: 1em;
  }

  @include breakpoint($md) {
    overflow: auto;
    width: 100%;
    height: 100%;
    pointer-events: auto;
    left: 0;
    top: 0;
    right: 0;
    padding: 1em 0 3em 4em;
    z-index: z("panelArtist");
    will-change: transform, opacity;
  }
}

.about-panel.open {
  visibility: visible;
  opacity: 1;
}

.about-panel__button--close {
  top: 15px;

  @include breakpoint($below-md) {
    right: 15px;
  }

  @include breakpoint($md) {
    right: 35px;
  }
}

.about-panel__body {
  @include rem(font-size, 16px);
  max-width: 800px;
}

.about-panel .panel__title {
  @include rem(font-size, 22px);
  font-weight: bold;
}

.about-panel .panel__subtitle {
  @include rem(font-size, 18px);
  font-weight: bold;
}

.about-panel .link-close {
  @include rem(font-size, 12px);
  cursor: pointer;
  display: block;
  margin-top: 2em;
}