/*------------------------------------*\
  > Page Atlas
  Specific style for atlas page
\*------------------------------------*/

.page-atlas {
  padding: 0;
  color: #fff;
  overflow: hidden;
}

.page-atlas .app-container {
  width: 100vw;
  height: 100vh;
}

// Atlas-header
// ---------------------
.atlas-header {
  display: block;
  width: 100%;
  min-height: 66px;
  position: relative;
  z-index: z('header');
  pointer-events: none;
}

.atlas-header__title {
  margin: 0;
}

.atlas-header__title a {
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

.atlas-header .main-logo {
  @include breakpoint($below-md) {
    width: 80%;
  }
}

//  Atlas-menu
// ---------------------

.atlas-menu {
  pointer-events: none;
}

.atlas-menu .menu {
  @include breakpoint($below-md) {
    margin: 0;
  }

  @include breakpoint($md) {
    margin-left: 1em;
  }
}

.atlas-menu .menu__item {
  position: relative;
  // z-index: z(footer);
}

.atlas-menu .menu__item__button {

  @include breakpoint($below-md) {
    width: 90px;
    transform: scale(.8);
  }

  @include breakpoint($md) {
    width: 130px;
  }
}

.atlas-menu .submenu__item__button {
  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
  }
}

.atlas-menu .button__icon {
  display: block;
  margin: 0 auto;
}

.atlas-menu .button__label {
  display: inline-block;
  margin-top: .5em;
}

.atlas-menu .submenu,
.atlas-menu .submenu__item,
.menu__item__button {
  display: inline-block;
  vertical-align: middle;
}

// submenu--placeofinterests

.submenu--placeofinterests {
  position: absolute;
}

.submenu--placeofinterests .submenu__item .button__icon,
.submenu--placeofinterests .submenu__item {
  transition: opacity .2s ease, transform .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.submenu--placeofinterests .submenu__item {
  margin: 0 -0.5em 2em 0;
  opacity: 0;
  transform: scale(0);
}

.submenu--placeofinterests .submenu__item.open {
  opacity: 1;
  transform: scale(1);

}

.submenu--placeofinterests .submenu__item__button:focus .button__icon,
.submenu--placeofinterests .submenu__item.open:hover .button__icon,
.submenu--placeofinterests .submenu__item.open:focus .button__icon,
.submenu--placeofinterests .submenu__item.open:active .button__icon {
  transform: scale(1.1);
}

.submenu--placeofinterests .button__label {
  @include horizontal-center(absolute);
  opacity: 0;
  margin: .5em 0 0;
  width: 200%;
  transition: opacity .2s ease;
}

.submenu--placeofinterests .submenu__item__button:focus .button__label,
.submenu--placeofinterests .submenu__item.open:hover .button__label,
.submenu--placeofinterests .submenu__item.open:focus .button__label,
.submenu--placeofinterests .submenu__item.open:active .button__label {
  opacity: 1;
}

// Mapbox
// ---------------------

.mapbox {
     position:absolute;
     top: 0;
     bottom: 0;
     width: 100%;
     right: 0;
}

.marker-wrapper {
  outline: none;
}

.marker {
  white-space: nowrap;
}

.leaflet-interactive.mouse-over {
  z-index: z(markerIcon) + 250 !important;
}

.marker__icon {
  display: block;
  // position: relative;
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
  background-size: cover;
  outline: none;
  transition: box-shadow .3s cubic-bezier(0.39, 0.575, 0.565, 1);
  z-index: z(markerIcon);
}

.marker-wrapper:focus .marker__icon,
.marker:hover .marker__icon,
.marker:focus .marker__icon {
  box-shadow: 0 0 0 2px $yellow-gold;
}

.marker__title {
  @include vertical-center(absolute);
  display: block;
  left: 75%;
  transform: translate(-25px, -50%);
  z-index: -1;
  padding-left: 25px;
  margin-top: -8px;
  font-weight: bold;
  color: $yellow-gold;
  opacity: 0;
  visibility: hidden;
  transition: visibility .3s, opacity .3s cubic-bezier(0.39, 0.575, 0.565, 1), transform .3s cubic-bezier(0.39, 0.575, 0.565, 1);
  background: rgba(0,0,0, .5);

  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 2px;
    background-color: $yellow-gold;
    transition: width .2s cubic-bezier(0.39, 0.575, 0.565, 1) .2s;
  }
}

.marker-wrapper:focus .marker .marker__title,
.marker:hover .marker__title,
.marker:focus .marker__title {
  visibility: visible;
  opacity: 1;
  transform: translate(0, -50%);

  &:after {
    width: 100%;
  }
}

.leaflet-container {
  font-family: $font-sans-serif;
}

// Marker Cluster
// ---------------------

.marker-cluster-small,
.marker-cluster-medium,
.marker-cluster-large {
  transition: background-color .3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

// Small
.marker-cluster-small {
  background-color: rgba(255, 0, 102, .2);

  &:hover,
  &:focus,
  &:active {
    background-color: rgba(255, 0, 102, .5);
    outline-color: $pink-rose;
  }
}

.marker-cluster-small div {
  background-color: rgba(255, 0, 102, .8);
}

// Medium
.marker-cluster-medium,
.marker-cluster-large {
  background-color: rgba(143, 57, 154, .2);

  &:hover,
  &:focus,
  &:active {
    background-color: rgba(143, 57, 154, .6);
    outline-color: $purple-vivid;
  }
}

.marker-cluster-medium div,
.marker-cluster-large div {
  background-color: rgba(143, 57, 154, .8);
}

// Atlas Footer
// ---------------------

.atlas-footer {
  position: absolute;
  bottom: 0;
  left: 1em;
}

.atlas-footer .menu__item {
  position: relative;
  z-index: z("footer");
}

.atlas-footer .menu__item__button {
  @include breakpoint($below-md) {
    @include rem(font-size, 10px);
  }
}

.about-panel__button--close {
  top: 15px;

  @include breakpoint($below-md) {
    right: 15px;
  }

  @include breakpoint($md) {
    right: 35px;
  }
}

.about-panel__body {
  @include rem(font-size, 16px);
  max-width: 800px;

  @include breakpoint($below-sm) {
    margin-top: 4em;
  }

  @include breakpoint($md) {
    margin-top: 5em;
  }
}

.about-panel__body p {
  margin-left: .5em;
  line-height: 1.5;
}