<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rap World Map <%= typeof locals.title!='undefined' ? '- ' + locals.title : '' %></title>

  <!-- css -->
  <link rel="stylesheet" href="/css/main.css">

   <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/images/favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/images/favicons/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#000000">
  <link rel="shortcut icon" href="/images/favicons/favicon.ico">
  <meta name="apple-mobile-web-app-title" content="Rap World Map">
  <meta name="application-name" content="Rap World Map">
  <meta name="msapplication-config" content="/images/favicons/browserconfig.xml">
  <meta name="theme-color" content="#000000">
</head>
<body class="<%= locals.slug %>">

  <header class="admin-header">
    <h2 class="main-title">
      <a href="/" title="Go to map">
        <img src="/images/rapworldmap.svg" class="main-logo" width="350" height="66" alt="Rap World Map" />
      </a>
    </h2>
    <a class="admin__title" href="/artists">Admin</a>
    <h1 class="page__title"><%- locals.title %></h1>
  </header>

    <%- body %>

</body>
</html>