<div class="admin-content">

  <% if (errors.length > 0) { %>
    <div class="errors">
      <% for (error of errors) { %>
        <p class="error"><%= error %></p>
      <% } %>
    </div>
  <% } %>

  <% if (message.length > 0) { %>
    <div class="errors">
      <p class="error"><%= message %></p>
    </div>
  <% } %>

  <!-- Login form -->
  <form class="form" action="/login" method="POST">
    <div class="field-group">
      <div class="field">
        <label for="email" class="field__label">Email:</label>
        <input id="email" type="email" name="email" />
      </div>
      <div class="field">
        <label for="password" class="field__label">Password:</label>
        <input id="password" type="password" name="password" />
      </div>
    </div>
    <div class="field">
      <button class="button--primary--md" type="submit">Login</button>
    </div>
  </form>
</div>